// Here you can add other styles
@import "variables";

$cui-sidebar-width2:256px;

.cursor-pointer{
  cursor: pointer;
}

.project-name{
  :hover{
    color: red;
  }
}

.breadcrumb-custom{
  font-weight: 600;
}

.choose-row-current{
  background-color: rgba($color: #c9f054, $alpha: 0.4);
}

.create-new-project-btn{
  color: black;
  font-weight: 650;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}
.create-new-project-btn:hover{
  background-color: #d4d6d9;
  border-radius: 20px;
}

.hover-text-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.input-flush {
  border: none;
}

.btn-create-project{
  font-style: normal !important;
  color: black;
  text-decoration: none;
}

.image-list{
  @media only screen and (max-width:700px){
    width: 100% !important;
  }
}

.custom-link{
  font-style: normal !important;
  color: black;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    color: black;
  }
}

.image-detail-project{
  width: 100%;
  height: auto;
  border-radius: 50%;
  
}

.tab1-general-detail-project{
  background-color: #d3dcf5;
  padding: 20px;
  border-radius: 5px;
}

.form-label-project{
  font-size: 16px;
  font-weight: 550;
  color: #8d8e91;
  margin-left: 8px;
  margin-bottom: 3px;
}

.form-group{
  margin-bottom: 15px;
}

.edit-icon-detail-project{
  cursor: pointer;
  font-size: 2.5rem !important;
  background-color: #c7c7c7;
  border-radius: 50%;
  padding: 5px;
  &:hover{
    color: black;
  }
}

.input-translate{
  display: block;
  border: none;
  width: 100%;
  padding: 3px 6px;
  line-height: 28px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
}

.tool-translate{
  padding: 5px 12px;
  background-color: rgba(178, 172, 175, 0.5);
  border-radius: 5px;
  margin-left: 2px;
}

.sticky-footer{
  position: sticky;
  height: 50px;
  bottom:0;
  width: 100%;
  left: --cui-sidebar-width2;
  padding: 15px;
}

.sticky-footer-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


@media only screen and (max-width:600px) {
  .class-inline{
    flex-direction: column;
  }
}

.term-base-suggest-src{
  background-color: rgba(77, 224, 79, 0.5);
  border: 1px solid #2bd415;
  padding: 4px 12px;
  border-radius: 3px;
  text-align: center;
}

.term-base-suggest-target{
  background-color: rgba(233, 77, 50, 0.5);
  border: 1px solid #db1d1d;
  padding: 4px 12px;
  border-radius: 3px;
  text-align: center;
}