// Here you can add other styles
.cursor-pointer{
  cursor: pointer;
}

.project-name{
  :hover{
    color: red;
  }
}

.breadcrumb-custom{
  font-weight: 600;
}

.choose-row-current{
  background-color: rgba($color: #c9f054, $alpha: 0.4);
}

.create-new-project-btn{
  color: black;
  font-weight: 650;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}
.create-new-project-btn:hover{
  background-color: #d4d6d9;
  border-radius: 20px;
}

.hover-text-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.input-flush {
  border: none;
}
