// Here you can add other styles
.cursor-pointer{
  cursor: pointer;
}

.project-name{
  :hover{
    color: red;
  }
}

.breadcrumb-custom{
  font-weight: 600;
}

.choose-row-current{
  background-color: rgba($color: #c9f054, $alpha: 0.4);
}